<div dir="ltr">
    <h4>
        <%= subject %>
    </h4>
    <h4>Dear
        <%=clientName %>
    </h4>
    <p>You can re-schedule an Appointment by clicking on below Link:</p>
    <p>
        <%=calandarLink %>
    </p>
    <h4>
        Best regards
    </h4>
    <h4>
        Azzy Immigration
    </h4>
</div>

<div dir="rtl">
    <h4>مشتری گرامی
        <%=clientNameFarsi %>
    </h4>
    <p>قرار مشاوره شما کنسل شده است. جهت تعیین وقت دیگر به لینک ذیل مراجعه نمایید و یا با دفاتر ما تماس بگیرید.</p>
    <p>
        <%=calandarLink %>
    </p>
    <h4>
        ارادتمند شما، تیم آزی ایمیگریشن
    </h4>
</div>