<div dir="ltr">
    <h4>subject: Request Declined, Client Number
        <%=clientNumber %>
    </h4>
    <h4>Dear
        <%=clientName %>
    </h4>
    <p>Thank you for sending your information through our application form.</p>
    <p>Regretfully we have to inform you that your current qualifications are not suitable to apply for immigration to
        Australia and we cannot help you any further:</p>
    <p>
        <%=textbox %>
    </p>
    <h4>
        Best regards
    </h4>
    <h4>
        Azzy Immigration
    </h4>
</div>

<div dir="rtl">
    <h4>موضوع: نتیجه بررسی اولیه مشخصات مشتری: شرایط نامناسب</h4>
    <h4>مشتری گرامی
        <%=clientNameFarsi %> ، شماره مشتری
        <%=clientNumber %>
    </h4>
    <p>ضمن تشکر از حسن اعتماد شما نسبت به مجموعه ما، با کمال تاسف به استحضار شما میرساند، شرایط فعلی شما برای اقدام به
        مهاجرت به استرالیا مناسب نبوده وشرکت آزی ایمیگریشن در حال حاضر قادر به پذیرش پرونده شما نمیباشد.</p>
    <p>
        <%=textbox %>
    </p>
    <h4>
        ارادتمند شما، تیم آزی ایمیگریشن
    </h4>
</div>