<h4><%=txt1 %> <%=clientName %> <%=clientSurname %> </h4>
<p><%=txt2 %></p>
<p><%=txt3 %></p>
<p><%=txt4 %></p>
<p><%=txt5 %></p>
<p><%=txt6 %></p>
<p><%=txt7 %></p>
<p><%=txt8 %></p>
<p><%=calandarLink %></p>
<p><%=txt9 %></p>
<p><%=txt10 %></p>
<p><%=cancelLink %></p>
<h4><%=txt11 %></h4>
<h4><%=txt12 %></h4>

